*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #a6aeb2;
}
#lu_box{
	width: 16rem;
	height: 28.7rem;
	background: #eeeeee;
}
#lu_header{
	width: 16rem;
	height: 1.95rem;
	background: #f6f6f6;
	border-bottom: 0.025rem solid #ccc;
}
#lu_header img{
	position: relative;
	float: left;
	top: 0.4rem;
	left: 0.6rem;
	width: 1.925rem;
	height: 1.275rem;
}
#lu_header span{
	position: absolute;
	left: 6rem;
	top: 0.6rem;
	text-align: center;
	font-size: 0.5rem;
	display: block;
	width: 4rem;
	color: #a6aeb2;
	font-weight: 500;
	height: 0.875rem;
}
/**/
#lu_a{
	display: block;
	width: 10.5rem;
	height: 0.875rem;
	font-size: 0.875rem;
	position: relative;
	top: 0.3rem;
	left: 0.6rem;
}
#lu_b{
	display: block;
	width: 11.3rem;
	height: 0.65rem;
	font-size: 0.65rem;
	position: relative;
	top: 0.6rem;
	left: 0.6rem;
	color: black;
}
#lu_c{
	display: block;
	width: 11.3rem;
	height: 0.65rem;
	font-size: 0.65rem;
	position: relative;
	top: 0.6rem;
	left: 0.6rem;
}
#lu_d{
	display: block;
	width: 10.5rem;
	height: 0.875rem;
	font-size: 0.875rem;
	position: relative;
	top: 0.8rem;
	left: 0.6rem;
}
#lu_e{
	display: block;
	width: 11.3rem;
	height: 0.65rem;
	font-size: 0.65rem;
	position: relative;
	top: 1.2rem;
	left: 0.6rem;
}
#lu_f{
	display: block;
	width: 15rem;
	height: 0.65rem;
	font-size: 0.65rem;
	position: relative;
	top: 1.5rem;
	left: 0.6rem;
	color: #dd5555;
}
#lu_g{
	width: 16rem;
	height: 1.2rem;
	position: relative;
	top: 2.5rem;
	background: #fff;
}
#lu_h{
	display: block;
	width: 2.4rem;
	height: 0.575rem;
	font-size: 0.5rem;
	color: #547d9e;
	position: relative;
	left: 0.6rem;
	top: 0.3rem;
	font-weight: 600;
}
#lu_i{
	display: block;
	width: 1.5rem;
	height: 0.575rem;
	font-size: 0.5rem;
	color: #547d9e;
	position: relative;
	left: 3.2rem;
	top: -0.3rem;
	font-weight: 600;
}
#lu_j{
	display: block;
	width: 2rem;
	height: 0.575rem;
	line-height: 0.575rem;
	text-align: center;
	font-size: 0.5rem;
	color: #547d9e;
	position: relative;
	float: right;
	right: 0.3rem;
	top: -0.8rem;
	font-weight: 600;
}
